:root{
--black:#171321;
--white:#f7f8fa;
--dkblue:#0d314b;
--plumb:#4b0d49;
--hotmag:#ff17e4;
--magenta:#e310cb;
--aqua:#86fbfb;
}
body {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    outline: 0;
    box-shadow: 0;
  }
  
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 50px;
}
nav ul .logo {
  height: 50px;
  width: 50px;
  display: inline-block;
}
nav ul li:first-child {
    margin-right: auto;
}
nav ul li:not(:first-child) {
    padding-left: 20px;
}
nav a {
    color: #333;
    transition: 0.5s all ease;
}
nav a:hover {
  color:purple;
}
nav .nav-icon {
    display: inline-block;
}
nav .nav-icon .fa-brands {
  font-size: 25px;
}
.btn-custom {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border:1px solid purple;
border-radius: 10px;
transition: 0.5s all ease;
}
.btn-custom:hover {
    border: 1px solid purple;
    background-color: #fff;
    color: purple;
}