.container {
  max-width: 1200px;
  margin: auto;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav ul .logo {
  height: 50px;
  width: 50px;
  display: inline-block;
}
nav ul li:first-child {
    margin-right: auto;
}
nav ul li:not(:first-child) {
    padding-left: 20px;
}
nav a {
    color: #333;
    transition: 0.5s all ease;
}
nav a:hover {
  color:purple;
}
nav .nav-icon {
    display: inline-block;
}
nav .nav-icon .fa-brands {
  font-size: 25px;
}
.btn-custom {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border:1px solid purple;
border-radius: 10px;
transition: 0.5s all ease;
}
.btn-custom:hover {
    border: 1px solid purple;
    background-color: #fff;
    color: purple;
}