.container {
  max-width: 1180px;
  margin: 0 auto;
}
nav {
  position: sticky;
  top: 0;
  padding: 15px 0;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #fff;
  gap: 1.7rem;
  font-weight: 500;
  letter-spacing: 1px;
}
nav ul .logo {
  display: inline-block;
}
nav .logo img {
  height: 40px;
  width: 40px;
}
nav ul li:first-child {
  margin-right: auto;
  flex-basis: auto;
}
nav ul li:not(:first-child) {
  /* padding-left: 2px; */
}
nav a {
  color: #fff;
  transition: 0.3s all ease;
}
nav a:hover {
  color: var(--aqua);
}
nav .nav-icon {
  display: inline-block;
  color: var(--aqua);
}
nav .nav-icon:hover {
  color: var(--hotmag);
}
nav .nav-icon .fa-brands {
  font-size: 150%;
}
.btn-custom {
  padding: 7px 6px;
  background-color: var(--magenta);
  color: var(--white);
  border: 1px solid var(--magenta);
  border-radius: 4px;
  transition: 0.5s all ease;
  letter-spacing: 0;
}
.btn-custom:hover {
  border: 1px solid var(--hotmag);
  background-color: var(--hotmag);
}

/* intro section */
#intro {
  padding: 4rem 0 8rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(255,23,228,1) 0%,rgba(134,251,251,1) 100%) 100;}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  font-weight: 500;
}
#intro .name {
  letter-spacing: 1px;
}
#intro h1 {
  font-size: 4rem;
  color: var(--aqua);
  font-weight: 500;
  margin-bottom: 2rem;
}
#intro h3 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
#intro a {
  text-decoration: underline;
}
#intro a:hover {
  text-decoration: none;
}
#intro > .container > *:last-child {
  margin-bottom: 0;
}

/* Project section */
.projects {
  padding: 4rem 0 6rem;
background-color: var(--dkblue);
border-bottom-width: 2px;
border-bottom-style: solid;
border-image: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%) 100;
}
.projects h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 5rem;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.grid-wrapper:not(:last-child){
  margin-bottom: 6rem;
}
.grid-wrapper >div:first-child{
  grid-column: 5/11;
  grid-row: 1/2;
}
.grid-wrapper .img-wrapper {
  order: -1;
  grid-column: 1/6;
  grid-row: 1/2;
  padding: 1rem;
  border-top: 1px solid var(--aqua);
  border-left: 1px solid var(--aqua);
  border-radius: 25px;
  margin-top: 2rem;
}
.grid-wrapper .img-wrapper img {
  width: 100%;
  border-radius: 16px;
}
.grid-wrapper .upper-head{
  margin: 0;
  font-weight: 500;
}
.grid-wrapper .upper-head,  .grid-wrapper h5 {
font-size: 1rem;
margin-bottom: 5px;
}
.grid-wrapper h4 {
  color: var(--aqua);
  font-size: 1.5rem;
  font-weight: 600;
}
.grid-wrapper .black-box {
  background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}
.grid-wrapper ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-weight: 500;
  font-size: 1rem;
}
.grid-wrapper.text-left >div:first-child{
  grid-column: 1/7;
  grid-row: 1/2;
}
.grid-wrapper.text-left .img-wrapper {
  order: -1;
  grid-column: 6/11;
  grid-row: 1/2;
  padding: 1rem;
  border-top: 1px solid var(--aqua);
  border-left: 1px solid var(--aqua);
  border-radius: 25px;
  margin-top: 2rem;
}
.grid-wrapper.text-left ul{
  justify-content: flex-start;
}

/* contact section */

.contact {
  background-color: var(--plumb);
  text-align: center;
  padding: 4rem 0;
  border-bottom-width: 2px;
border-bottom-style: solid;
border-image: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%) 100;
}
.contact h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.contact p {
  font-size: 1.1rem;
  max-width: 355px;
  width: 100%;
  margin: 30px auto;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
}
.contact p span {
  position: absolute;
 
}
.contact .btn-custom {
  font-size: 130%;
}
.contact .btn-custom:hover {
  color: #fff;
}
.footer {
  text-align: center;
  padding: 4rem 0;
}
.footer h2 {
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer p {
  margin-top: 2rem;
  margin-bottom: 0;
}
.footer ul {
  margin: auto;
  font-size: 3rem;
}
.footer ul .inline-li {
  display: inline-block;
  padding: 0 1rem;
}
@media screen and (max-width:1025px){
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .grid-wrapper .img-wrapper img {
    object-fit: cover;
    height: 100%;
  }
}
@media screen and (max-width:768px){
  .container{
    padding: 0 10px;
  }
  .grid-wrapper {
    display: block;
    text-align: left;
  }
  .grid-wrapper .img-wrapper {
    height: 400px;
  }
  .grid-wrapper ul {
    justify-content: flex-start;
  }
  .grid-wrapper:not(:last-child) {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #154964;
}
}
@media screen and (max-width:425px){
  nav ul {
    justify-content: center;
  }
  nav ul li:first-child{
    flex-basis: 100%;
    margin-left: auto;
    text-align: center;
  }
}